.infoImage-container{
    display: flex;
    background-color: green;
    border: 2px solid #16b13a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.info-container{
    color: white;
    float: right;
}
.info-container img{
    width: 20px;
}
.image-container img{
    position: right;
    height: 250px;
}
.icon{
    text-align: center;
}
.icon img{
    width: 50px;
    margin: 10px;
}
@media (max-width: 668px){
    .info-container{       
        width: 100%;    
    }
    .image-container img{
        width: 100%;
    }
}
@media (max-width: 992px){
    .info-container{       
        width: 100%;    
    }
    .image-container img{
        width: 100%;
    }
}